{% extends '_base.html' %}

{% block page_title %}Cart{% endblock page_title %}

{% block content %}
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ item.product_obj }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.product_obj.price }}</td>
          <td>{{ item.total_price }}</td>
          <td><a href="{% url 'cart:cart_remove' item.product_obj.id %}">remove</a></td>
        </tr>
      {% endfor %}
      <tr>
        <td>Total</td>
        <td>{{ cart.get_total_price }}</td>
      </tr>
    </tbody>
</table>
<a href="{% url 'orders:order_create' %}" class="btn btn-primary">checkout</a>
{% endblock content %}