{% extends '_base.html' %}

{% block page_title %}Products{% endblock page_title %}

{% block content %}
    <h2>{{ product.name }}</h2>
    <small>{{ product.created }}</small>
    <p>{{ product.price }} Toman</p>
    <img src="{{ product.image.url }}" alt="" style="width: 300px">
    <p>{{ product.description }}</p>
    <form action="{% url 'cart:cart_add' product.id %}" method="POST" >
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="add to cart">
    </form>
{% endblock content %}