<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="{% url 'pages:home' %}">Home</a>
          {% if request.user.is_authenticated %}
            {% comment %} <a class="nav-link" aria-current="page" href="{% url 'accounts:user_profile' request.user.id %}">Profile</a> {% endcomment %}
            <a class="nav-link" aria-current="page" href="{% url 'accounts:user_logout' %}">Logout</a>
          {% else %}
            <a class="nav-link" aria-current="page" href="{% url 'accounts:user_register' %}">Register</a>
            <a class="nav-link" aria-current="page" href="{% url 'accounts:user_login' %}">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>